<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">{{t 'landing.login'}}</div>
    </div>

    <div class="panel-body" >
      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form {{action 'authenticate' on='submit' class="form-horizontal"}}>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{input type="email" id='identification' class="form-control" placeholder=(t 'landing.enter_email') value=identification autofocus='autofocus' enter='authenticate'}}
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{input id='password' class="form-control" placeholder=(t 'landing.enter_password') type='password' value=password enter='authenticate'}}
          </div>

          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <button type="button" {{action 'authenticate'}} id="btn-login" class="btn btn-success">{{t 'landing.login'}}</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                {{#link-to 'sign_up' class="button button-default button-block int-landing-create-account"}}
                  {{t 'landing.create_account'}}
                {{/link-to}}
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
