{{#if (gt totalPages 1)}}
  <div class="pagination-centered">
    <ul class="pagination">
      {{#if canStepBackward}}
        <li class="arrow prev enabled-arrow" {{action 'pageClicked' 1}}>
          <span class="fa fa-fast-backward"></span>
        </li>
        <li class="arrow prev enabled-arrow">
          <a href="#" {{action "incrementPage" -1}}>
            <span class="fa fa-backward"></span>
          </a>
        </li>
      {{else}}
        <li class="arrow prev disabled">
          <span class="fa fa-fast-backward"></span>
        </li>
        <li class="arrow prev disabled">
          <span class="fa fa-backward"></span>
        </li>
      {{/if}}
      {{#if tooManyPages}}
        <li class='page-number'>
          <a href="#">{{page}}/{{totalPages}}</a>
        </li>
      {{else}}
        {{#each iterator as |newPage|}}
          {{#if newPage}}
            <li class="page-number {{if (eq page newPage) 'active'}}">
              <a href="#" {{action "pageClicked" newPage}}>{{newPage}}</a>
            </li>
          {{/if}}
        {{/each}}
      {{/if}}

      {{#if canStepForward}}
        <li class="arrow next enabled-arrow">
          <a href="#" {{action "incrementPage" 1}}>
            <span class="fa fa-forward"></span>
          </a>
        </li>
        <li class="arrow next enabled-arrow">
          <a href="#" {{action "pageClicked" totalPages}}>
            <span class="fa fa-fast-forward"></span>
          </a>
        </li>
      {{else}}
        <li class="arrow next disabled">
          <span class="fa fa-forward"></span>
        </li>
        <li class="arrow next disabled">
          <span class="fa fa-fast-forward"></span>
        </li>
      {{/if}}
    </ul>
  </div>
{{/if}}
