<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">{{t 'sign_up.header'}}</div>
    </div>

    <div class="panel-body">
        <form {{action 'create' on='submit' class="form-horizontal"}}>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{input data-test-signin-email-field type="email" id='email' class="form-control" placeholder=(t 'landing.enter_email') value=user.email autofocus='autofocus' enter='authenticate'}}
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{input type="password" placeholder=(t 'sign_up.password') value=user.password class="form-control"}}
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{input type="password" placeholder=(t 'sign_up.confirm_password') value=user.passwordConfirmation class="form-control"}}
          </div>

          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <a class="btn btn-success" {{action 'signup'}}>{{t 'sign_up.cta'}} <span class="ion-android-arrow-forward"></span></a>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                {{#link-to 'landing' class="auth-forgot"}}
                  {{t 'sign_up.already_have_account'}}
                  {{t 'landing.login'}}
                {{/link-to}}
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
