{{#if (can 'create rental')}}
  <div class="row-fluid">
    <div class="pull-right action-buttons-div">
      {{#link-to 'rentals.new' data-test-rental-new-btn class='btn btn-info'}}{{t 'rental.actions.new_rental'}}{{/link-to}}
    </div>
  </div>
{{/if}}

<div class="row-fluid filters">
  <div class="col-md-2">
    {{input data-test-rental-rental-filter-field value=rentalFilter placeholder='Rental'}}
  </div>

  {{#if (can 'see user booking')}}
    <div class="col-md-3">
    {{#power-select options=allUsersExceptMe
                    selected=userFilterObj
                    allowClear=true
                    placeholder=(t 'rental.filter.user')
                    onchange=(action 'selectUserFilter') as |user|}}
      {{user.email}}
    {{/power-select}}
    </div>
  {{/if}}

  <div class="col-md-5">
    <div class="col-md-3">
      <span>{{t 'rental.filter.price_range'}}</span>
    </div>
    <div class="col-md-8">
      {{range-slider
        value=defaultPriceRange
        mood='success'
        changed='priceFilterChange'
        tooltip='show'
        tooltipPosition='top'
        min=0
        step=1
        max=defaultMaxDailyRate }}
      </div>
  </div>
</div>

{{#x-table columns=availableColumns
           sortableFields=availableColumns
           modelName='rental'
           sortField=sortField
           sortDirection=sortDirection}}
  {{#if rentals.isPending}}
    {{x-loading}}
  {{else}}
    {{#each rentals as |rental|}}
      <tr data-test-rental-tr>
        <td>
          {{rental.name}}
        </td>

        {{#if canShowToAdmin}}
          <td>
            {{rental.user.email}}
          </td>
        {{/if}}

        <td>
          {{format-money rental.dailyRate}}
        </td>

        <td>
          {{#if (can 'book rental' rental)}}
            {{#link-to "rentals.book" rental data-test-rental-book-btn}}{{fa-icon 'shopping-cart'}}{{/link-to}}
          {{/if}}

          {{#if (can 'edit rental' rental)}}
            {{#link-to "rentals.edit" rental data-test-rental-edit-btn class='edit-btn'}} {{fa-icon 'pencil'}}{{/link-to}}
          {{/if}}

          {{#if (can 'delete rental' rental)}}
            <a href='#' data-test-rental-delete-btn {{action 'delete' rental}} title={{t 'rental.tips.delete'}}>{{fa-icon 'remove'}}</a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  {{/if}}
{{/x-table}}

{{x-paginator content=rentals changePage=(action (mut page)) page=page}}

{{#if isShowingBookingModal}}
  {{x-booking-rental rental=selectedRental isShowingBookingModal=isShowingBookingModal}}
{{/if}}

{{outlet}}
